.so-widget-sow-headline-sow-headline-44a2d35a96df #sow-headline-container.sow-headline h1 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-44a2d35a96df #sow-headline-container.sow-headline h3 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-44a2d35a96df #sow-headline-container.sow-headline .decoration {
  border-top: thin none #99acbf;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}